<div class="container mt-5">
    <div class="d-flex justify-content-end align-items-center mb-4">
        <button class="btn custom-btn">
            Add New Product
        </button>
    </div>
</div>
<div class="table-container">
    <table class="table table-hover table-borderless table-responsive">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jornery Run's</td>
                <td>Sports Shoes</td>
                <td>Nike</td>
                <td>7 In Stock</td>
                <td>$39.00</td>
                <td class="action-btns">
                    <button class="btn btn-success btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Blazer Phantom Low</td>
                <td>Casual Shoes</td>
                <td>Nike</td>
                <td>6 In Stock</td>
                <td>$99.00</td>
                <td class="action-btns">
                    <button class="btn btn-success btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Oxford Tecap Shoes</td>
                <td>Formal Shoes</td>
                <td>Adidas</td>
                <td class="out-of-stock">Out of Stock</td>
                <td>$59.00</td>
                <td class="action-btns">
                    <button class="btn btn-success btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Air Max 90 Premium</td>
                <td>Casual Shoes</td>
                <td>Nike</td>
                <td class="out-of-stock">Out of Stock</td>
                <td>$99.00</td>
                <td class="action-btns">
                    <button class="btn btn-success btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Product Page Navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
</div>