<div class="table-container">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#7390</td>
                <td>Nihal P</td>
                <td>nihal123@gmail.com</td>
                <td>7867452390</td>
                <td>
                    <button class="btn-custom badge-custom badge-block">Block</button>
                </td>
            </tr>
            <tr>
                <td>#7391</td>
                <td>Afreed Ashraf</td>
                <td>afreed@gmail.com</td>
                <td>6745899045</td>
                <td>
                    <button class="btn-custom badge-custom badge-block">Block</button>
                </td>
            </tr>
            <tr>
                <td>#7392</td>
                <td>Sinan Sha</td>
                <td>sinan@gmail.com</td>
                <td>9078327854</td>
                <td>
                    <button class="btn-custom badge-custom badge-unblock">Unblock</button>
                </td>
            </tr>
            <tr>
                <td>#7393</td>
                <td>Danish K</td>
                <td>danish@gmail.com</td>
                <td>7856341278</td>
                <td>
                    <button class="btn-custom badge-custom badge-block">Block</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">Last</a></li>
        </ul>
    </nav>
</div>