.cust-btn {
    background-color: #88c8bc;
    color: white;
}

.cust-btn:hover {
    background-color: #76b1a5; /* Slightly darker shade for hover */
}

.container {
    max-width: 800px;
    margin: auto;
}


label {
    font-weight: bold;
}