<!-- <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Size</h4>
                            <ul>
                                <% product.variants.forEach(variant => { %>
                                    <li>
                                        <%= variant.size %>    
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="" disabled>
                                <i class="icon-minus2"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="5" data-stock="<%= product.variants[0].stock %>" readonly>
                        <span class="input-group-btn ml-1">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="icon-plus2"></i>
                            </button>
                        </span>
                    </div> -->



                         <!-- Sales Overview Chart Section -->
        <!-- <div class="row">
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title fw-semibold">Sales Overview</h5>
                    </div>
                    <div>
                      <select class="form-select" id="chatSortSelect">
                        <option value="" selected disabled>Sort by:</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                      </select>
                    </div>
                  </div>
        
                  Hidden input to hold the chart data from EJS -->
                  <input type="hidden" id="chartData" value=''>
        
                  <!-- Canvas for the chart -->
                  <canvas id="myChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
  